<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Сервис поздравлений с днём рождения</title>
</head>

<body>
    <h1>Сотрудники</h1>

    <table>
        <tr>
            <td>Сотрудник</td>
            <td>Дата рождения</td>
            <td></td>
        </tr>
        {{range .Users}}
        <tr>
            <td>{{.Username}}</td>
            <td>{{printf "%02d.%02d.%04d" .Day .Month .Year}}</td>
            <td>
                <form action="/subscribe/{{.ID}}" method="post">
                    <input type="submit" value="{{if .Subscription}}Отписаться{{else}}Подписаться{{end}}">
                </form>
            </td>
        </tr>
        {{end}}
    </table>
</body>

</html>